.pages {
    margin: 5px 10px;

    span {
        margin: 3px;
        cursor: pointer;

        &.selectedPage {
            font-weight: bold;
            color: gold;
        }
    }
}

.user {
    margin: 20px 10px;

    img {
        width: 90px;
        height: 90px;
        border-radius: 100%;
    }
}
