.formControl {
    &.error {
        input,
        textarea {
            display: block;
            border: 3px red solid;
        }

        span {
            display: block;
            color: red;
        }
    }
}

.formSummaryError {
    padding: 5px;
    color: red;
}
