.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;

  &_items {
    padding: 10px;

    .item {
      &.active {
        color: gold;
      }
    }
  }

  .messages {
    padding: 10px;

    .message {}
  }
}