.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;

  &_items {
    padding: 10px;

    .item {
      a {
        text-decoration: none;
        color: white;

        &.active {
          color: gold;
        }
      }
    }
  }

  .messages {
    padding: 10px;

    .message {}
  }
}